<h1 class="small"> <%= @workout.name%> </h1>

<h2> <%=@workout.date%></h2>
<br>
<h2 class="blueish">Exercises</h2>

<ul>
  <% @workout.exercises.each do |exercise| %>
  <li class="standard"><a href="/exercises/<%=exercise.id%>"><%= exercise.name%></a> </li>
  <% end%>
</ul>
<br>
<h2 class="blueish">Options</h2>
<form method="post" action="/workouts/<%= @workout.id %>/delete">
   <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Workout" style="color:red">
</form>
<br>
<button class="popping" type="button" name="button"><a class="simple" href="/exercises/new">Add Exercise</a></button>
<button class="popping" type="button" name="button"><a class="simple" href="/workouts/<%= @workout.id %>/edit">Edit Workout</a></button>
<button class="popping" type="button" name="button"><a class="simple" href="/workouts">Workout Index</a></button>
<br>