<h1> Welcome, <%= @user.username%>!</h1>
<br>
<h2>Workouts Overview</h2>
<h3>Total Workouts Logged: <%= @user.workouts.count %> </h3>
<br>
<ul><% @user.workouts.each do |workout|%>
 <li> - <a href= "/workouts/<%= workout.id%>"> <%= workout.name %>
  (<%= workout.date %>) </a> 
  </li>
</ul>
<% end %>
<br>
<br>
<h2>Options</h2>
<h4> <a href="/workouts/new.html">Add a new workout</a> </h4>








