<h1 class="small">Edit Your Exercise</h1>
<h2 class="blueish">Input Changes:</h2>

<form action="/exercises/<%= @exercise.id %>" method="post">
  <table>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <tr>
      <td> <li class="standard">Revised Exercise Name: </li></td>
      <td> <input type="text" value="<%=@exercise.name %>" name="name"> </td>
    </tr>
    <tr>
      <td> <li class="standard">Revised Exercise Weight: </li> </td>
      <td> <input type="number" value="<%=@exercise.weight %>" name="weight"> </td>
    </tr>
    <tr>
      <td> <li class="standard">Revised Exercise Sets: </li> </td>
      <td> <input type="number" value="<%=@exercise.sets %>" name="sets"> </td>
    </tr>
    <tr>
      <td> <li class="standard">Revised Exercise Reps: </li> </td>
      <td> <input type="number" value="<%=@exercise.reps %>" name="reps"> </td>
    </tr>
    <tr>
      <td> <li class="standard">Revised Associated Workout: </li> </td>
      <td>
      <select name="workout_id">
        <% current_user.workouts.each do |workout| %>
          <option value=<%=workout.id %>><%= workout.name %></option>
        <% end %>
      </select></td>
    </tr>
  </table>
  <br>
  <button type="submit" class="popping">Update</button>
</form>
<br> 
  <div class="error"
    <div class="flash_alert">
      <% if flash[:alert] %>
      <%= flash[:alert] %>
      <% end %>
    </div>
 <button class="popping" type="button" name="button"><a class="simple" href="/workouts/<%= @exercise.workout_id %>">Back to Workout</a></button>