<h1 class="small"> <%= @exercise.name%> </h1>
<br>
<h2 class="blueish">Exercise Details</i></h2>
<ul>
  <li class="standard">Total Weight: <%=@exercise.weight%> lbs
  <li class="standard">Total Sets: x <%=@exercise.sets%></li>
  <li class="standard">Reps per Set: x <%=@exercise.reps%></li>
</ul>
<br>
<h2>Options</h2>
       <form action="/edit/<%= @exercise.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="destroy" >Delete Exercise</button>
        </form>
      <button class="popping"><a href="<%= @exercise.id %>/edit">Edit Exercise</a></button>
      <button class="popping"> <a href="/workouts/<%= @exercise.workout_id %>">Back to Workout</a></button>
     