<h1> <%= @exercise.name%> </h1>
<br>
<h2>Exercise Details</h2>
<h4> Total Weight: <%=@exercise.weight%> lbs </h3>
<h4> Total Sets: x <%=@exercise.sets%> </h3>
<h4> Reps per Set: x <%=@exercise.reps%> </h3>
<br>
<h2>Options</h2>
<button type="button" name="button"><a href="<%= @exercise.id %>/edit">Edit Exercise</a></button>
<br>
   <form action="/edit/<%= @exercise.id %>/delete" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" name="submit" value="Delete Exercise">
          </form>
<br>
<button type="button" name="button"><a href="/workouts/<%= @exercise.workout_id %>">Back to Workout</a></button>
<br>